<!DOCTYPE html>
<html>

<head>
    {% include "news/title.html" %}
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <h2>Create</h2>

    <form action="/news/create" method="post">
        {% csrf_token %}
        <label for="n_title">Title:</label>
        <input type="text" name="title" id="n_title">
        <br>
        <label for="n_text">Text:</label>
        <input type="text" name="text" id="n_text">
        <br>
        <button type="submit">Create</button>
    </form>

    <p><a target="_blank" href="/news/">Main</a></p>
</body>
</html>
